<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/registro.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>MercadoLiebre</title>
  </head>
  <body>
    <form action="/" class="form">
      <input type="text" class="campoForm" id="nomYap" name="nombre" placeholder="Nombre y Apellido" minlength="1"/><br />
      <input type="text" class="campoForm" id="usname" name="usname" placeholder="Nombre de usuario" minlength="1" /><br />
      <input type="email" class="campoForm" id="email" name="email" placeholder="E-mail" /><br />
      <label for="fechaNac" id="fechaNac"><strong>Fecha de nacimiento:</strong></label>
      <input type="date" class="campoForm" id="fechaNac" name="fechaNac" /><br />
      <input type="text" class="campoForm" id="domicilio" name="domicilio" placeholder="Domicilio"/><br />
      <div id="perfil">
      <label for="perfil"><strong>Perfil del usuario</strong></label><br />
      <label for="comprador" class="per">Comprador</label>
      <input type="radio" id="perf" class="per"name="perfil" id="comprador" value="comprador" />
      <label for="vendedor" class="per">Vendedor</label>
      <input type="radio" id="perf" class="per" name="perfil" value="vendedor" /><br />
    </div>
      <label for="intereses">Intereses</label><br />
      <label for="electro" name="electro">Electro</label>
      <input type="checkbox" id="electro" name="electro" value="electro" /><br />
      <label for="moda" name="moda">Moda</label>
      <input type="checkbox" id="moda" name="moda" value="moda" /><br />
      <label for="hogar" name="hogar">Hogar</label><br />
      <input type="checkbox" id="hogar" name="horgar" value="hogar" />
      <label for="jugueteria" name="jugueteria">Jugueteria</label>
      <input type="checkbox" id="jugueteria" name="jugueteria" value="jugueteria"/><br />
      <label for="vida" name="vidaSana">Vida Sana</label>

      <input type="checkbox" id="vida" name="vidaSana" value="vida" /><br />
      <button type="submit">Crear</button>
    </form>
  </body>
</html>
