*{
    margin: 0px; 
    padding: ​0px​;   
    box-sizing: ​border-box​;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/* HEADER */
/* LOGO, BUSCADOR y TITULO */
header{
    display: block;
    background-color: #EAC926;
    padding: 10px;
}

.top-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .tituloheader {
    flex: auto;
}

.tituloheader {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
}

.logo{
    width: 35%;
}

.form{
    display: block;
    justify-content: start;
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    text-decoration: none;
}

input {
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
}

.submit{
    background-color: #FFF;
    color: #666;
    text-align: center;
    font-size: 1em;
    margin-left: 5px;
    border: none;
    background: none;
}

/* NAVBAR */
.navbar{
    display: flex;
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    display: none;
    text-decoration: none;
    color: #000;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

h3{
    font-size: 24px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}
.conteiner-price{
    display: flex;
}
.price {
    width: 30%;
}
.discount{
    width: 70%;
}
.products{
    display: flex;
    flex-direction: column;
}
.products article{
    width: 100%;
    justify-content: space-between;
}

/* Media Queries TABLETS */

@media (min-width: 425px){

    .header {
        max-width: 100%;
    }
    .top-header {
        flex-wrap: nowrap;
    }
    .tituloheader {
        max-width: 30%;
        font-size: 1em;
        text-align: right;
    }
    .logo {
        max-width: 20%;
    }
    .form {
        max-width: 50%;
    }
    input {
        width: 115px;
    }

    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products article{
        width: 45%;
        
    }
    /*navbar*/
    .navbar{
        display: flex;
    }
    header nav{
        font-size: 12px;
    }
    
    header ul li{
        list-style-type: none;
    }
    
    header ul li a{
        text-decoration: none;
        color: #000;
    }
    
    div.burger-menu{
        display: none;
        text-align: center;
    }
    
    div.burger-menu i{
        display: none;
        background-color: #0044AA;
        border-radius: 5px;
        color: #FFF;
        font-size: 20px;
        height: 40px;
        margin: 10px 0px 20px 0px;
        padding: 10px;
        width: 40px;
    }
    
header ul li a{
    text-decoration: none;
    color: #000;
}
}

/* Media Queries DESKTOP */

@media (min-width: 769px){
    .top-header {
        flex-wrap: nowrap;
    }
    .tituloheader {
        max-width: 300px;
        font-size: 15px;
        text-align: right;
    }
    .logo {
        max-width: 25%;
    }
    .form {
        width: 350px;
    }
    input {
        width: 305px;
    }
    .products{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products article{
        width: 20%;
    }

}
